.navbar {
  background-color: transparent;
  height: 50px;
}

.container-fluid{
  justify-content: start;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 15px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

/* favourites link */
.nav-link{
  color: white;
}

/* dropdown list */
.dropdown-item{
  background-color: white;
  color: rgb(90, 89, 89);
}
