<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <img
      src="/assets/images/icon4.jpg"
      alt="logo"
      class="logo"
      routerLink="/home"
    />

    
    <a class="navbar-brand" href="#">Favourites</a>
    <i class="fa-regular fa-heart heart"></i>
    <button
        class="navbar-toggler second-button"
        type="button"
        (click)="externalContent2.toggle()"
        aria-controls="navbarToggleExternalContent"
        [attr.aria-expanded]="!externalContent2.collapsed"
        aria-label="Toggle navigation"
      >
        <div
          class="animated-icon"
          [ngClass]="{ open: !externalContent2.collapsed }"
        >
          <span></span><span></span><span></span><span></span>
        </div>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div
    class="collapse"
    id="navbarToggleExternalContent2"
    mdbCollapse
    #externalContent2="mdbCollapse"
  >
    <div class="list shadow-3 p-4">
      <a href="">Favourites</a>
      <br>
      <a href="">gf</a>
      <br>
      <a href="">gf</a>
      <br>
      <a href="">gf</a>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>

  <router-outlet></router-outlet>