<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <img
      src="/assets/images/icon4.jpg"
      alt="logo"
      class="logo"
      routerLink="/home"
    />

    <div class="favorites" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Favorites
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
            <li *ngFor="let favorite of favorites">
              <a class="dropdown-item">{{ favorite }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
