/* background */
.bg-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(90%) contrast(120%);
}

/* carousel */
#carouselExampleControls {
  /* top right bottom left */
  padding: 4% 3% 4% 3%;
  max-width: 1000px;
  max-height: 500px;
}

.main-card {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border: 1px #fff;
  width: 900px;
  /* height: 400px; */
  display: flex;
}

.card-title-container {
  display: block;
  height: 80px;
  /* top right bottom left */
  padding: 15px;
}
/* 
.card-body {
  display: flex;
} */

.card-title {
  font-size: 22px;
  font-weight: 400;
  color: white;
  letter-spacing: 1.5px;
  display: flex;
  margin-bottom: 0;
}

.location-icon {
  margin-right: 8px;
  font-size: 18px;
  color: white;
}

.currentDate {
  font-size: 15px;
  color: white;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 0;
}

.currentTemperature {
  color: white;
  font-size: 70px;
  font-weight: 100;
  /* top right bottom left */
  margin: 10px 0 0 0;
}

/* second cards */
.second-card {
  background-color: transparent;
  border: 1px #fff;
  margin: 10px;
  /* display: flex; */
  justify-content: center;
}

.daily-weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.hourly-weather {
  margin: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  overflow-y: scroll;
  height: 400px;
}

/* .row.hourly-weather{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
} */

.content {
  height: 200px;
  display: block;
}

.second-title {
  font-size: 15px;
  color: white;
  font-weight: 400;
  justify-content: center;
}

hr {
  /* top right bottom */
  margin: 4px auto 4px;
  width: 30px;
  height: 1.5px;
  background-color: black;
  border: none;
}

.dayTemperature {
  color: white;
  font-size: 15px;
  font-weight: 400;
  justify-content: center;
  display: flex;
  margin-bottom: 0;
}

.hourTemperature {
  color: white;
  font-size: 15px;
  font-weight: 400;
  justify-content: center;
  display: flex;
  margin-bottom: 0;
}

/* fav button */
.fav-button {
  color: white;
  font-size: 25px;
  padding: 0;
  margin-right: 15px;
}

.fav-button:hover {
  color: red;
}

/* forecast buttons */
.f-buttons {
  margin-left: 100px;
}

.forecasts {
  color: white;
  font-size: 18px;
  margin-left: 5px;
  border-bottom: 1px solid white;
}

.forecasts.active {
  border-bottom: 1px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
