<div id="carouselExampleControls" class="carousel carousel-dark slide mx-auto">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-lg-4">
          <div class="card main-card">
            <!-- title -->
            <div class="card-body">
              <div class="card-title-container">
                <div style="display: flex">
                  <i class="fa-solid fa-location-dot location-icon"></i>
                  <div class="col-2">
                    <h5 class="card-title">Cluj-Napoca</h5>
                    <p class="currentDate">
                      {{ currentDate | date : "EEEE, dd MMMM" }}
                    </p>
                  </div>
                  <div class="col-2">
                    <p class="currentTemperature">
                      {{ temperature }}&deg;C
                    </p>
                  </div>
                </div>
                
                
              </div>
              
            </div>

            <!-- content -->
            <!-- weather on hours or weeks days -->
            <div class="row weather">
              <div class="card col-xs-12 col-md-2 col-lg-1 second-card">
                <div class="card-body content">
                  <h5 class="card-title second-title">Monday</h5>
                  <hr>
                  <p class="card-text dayTemperature">15&deg;C</p>
                </div>
              </div>
              <div class="card col-xs-12 col-md-2 col-lg-1 second-card">
                <div class="card-body content">
                  <h5 class="card-title second-title">Tuesday</h5>
                  <hr>
                  <p class="card-text dayTemperature">15&deg;C</p>
                </div>
              </div>
              <div class="card col-xs-12 col-md-2 col-lg-1 second-card">
                <div class="card-body content">
                  <h5 class="card-title second-title">Wednesday</h5>
                  <hr>
                  <p class="card-text dayTemperature">15&deg;C</p>
                </div>
              </div>
              <div class="card col-xs-12 col-md-8 col-lg-1 second-card">
                <div class="card-body content">
                  <h5 class="card-title second-title">Thursday</h5>
                  <hr>
                  <p class="card-text dayTemperature">15&deg;C</p>
                </div>
              </div>
              <div class="card col-xs-12 col-md-8 col-lg-1 second-card">
                <div class="card-body content">
                  <h5 class="card-title second-title">Friday</h5>
                  <hr>
                  <p class="card-text dayTemperature">15&deg;C</p>
                </div>
              </div>
              <div class="card col-xs-12 col-md-8 col-lg-1 second-card">
                <div class="card-body content">
                  <h5 class="card-title second-title">Saturday</h5>
                  <hr>
                  <p class="card-text dayTemperature">15&deg;C</p>
                </div>
              </div>
              <div class="card col-xs-12 col-md-8 col-lg-1 second-card">
                <div class="card-body content">
                  <h5 class="card-title second-title">Sunday</h5>
                  <hr>
                  <p class="card-text dayTemperature">15&deg;C</p>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <!-- title -->
            <div class="card-body">
              <div class="card-title-container">
                <h5 class="card-title">
                  <i class="fa-solid fa-location-dot location-icon"></i>
                  Bucharest
                </h5>
              </div>
              <p class="currentDate">{{ currentDate | date : "dd MMMM" }}</p>

              <!-- content -->
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- previous and next buttons -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<img src="/assets/images/bg7.jpg" alt="bg-img" class="bg-home" />

<!-- <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="/assets/images/bg1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/assets/images/bg2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/images/icon.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
