/* background */
.bg-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(90%) contrast(120%);
}

/* carousel */
#carouselExampleControls {
  /* top right bottom left */
  padding: 2% 3% 4% 3%;
  max-width: 1000px;
  max-height: 500px;
}

.main-card {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border: 1px #fff;
  width: 895px;
  /* height: 400px; */
  display: flex;
}

.card-title-container {
  display: block;
  height: 80px;
  /* top right bottom left */
  padding: 15px;
}

.card-title {
  font-size: 22px;
  font-weight: 400;
  color: white;
  letter-spacing: 1.5px;
  display: flex;
  margin-bottom: 0;
}

.location-icon {
  margin-right: 8px;
  font-size: 18px;
  color: white;
}

.currentDate {
  font-size: 15px;
  color: white;
  font-weight: 400;
  margin-top: 2px;
}

.currentTemperature {
  color: white;
  font-size: calc(100% + 2vw + 1vh);
  font: bold;
  font-weight: 100;
  /* top right bottom left */
  margin: 0 0 0 15px;
}

.weatherCondition{
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-top: 2px;
}

/* second cards */
.second-card {
  background-color: transparent;
  border: 1px #fff;
  margin: 10px;
  justify-content: center;
  height: 20vh;
}

.daily-weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.hourly-weather {
  margin: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  overflow-y: scroll;
  height: 250px;
}

.daily-weather{
  margin: 0px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  overflow-y: scroll;
  height: 250px;
}

.content {
  height: 200px;
  display: block;
}

.second-title {
  font-size: 15px;
  color: white;
  font-weight: 400;
  justify-content: center;
}

hr {
  /* top right bottom */
  margin: 4px auto 4px;
  width: 30px;
  height: 1.5px;
  background-color: rgb(90, 89, 89);
  border: none;
}

.dayTemperature {
  color: white;
  font-size: 15px;
  font-weight: 400;
  justify-content: center;
  display: flex;
  margin-bottom: 0;
}

.hourTemperature {
  color: white;
  font-size: 15px;
  font-weight: 400;
  justify-content: center;
  display: flex;
  margin-bottom: 0;
}

/* fav button */
.heart-icon {
  color: #FF647F;
  font-size: 25px;
  padding: 0;
  margin: 5px 10px;
}

.heart-icon.selected {
  color: #FF647F;
}

/* forecast buttons */
.f-buttons {
  margin-left: 100px;
}

.forecasts {
  color: white;
  font-size: 18px;
  margin-left: 5px;
  margin-top: 35px;
  border-bottom: 1px solid white;
}

.forecasts.active {
  border-bottom: 1px solid rgb(90, 89, 89);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

/* dropdown + search cities */
.dropdown{
  text-align: center;
  margin-top: 25px;
}

.dropdown-toggle{
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  border: none;
  font-size: 20px;
  backdrop-filter: blur(10px);
}

.dropdown-menu{
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(30px);
}

.form-control, .form-control:focus{
  box-shadow: none;
  border: none;
}

.cities-list{
  /* top right bottom left*/
  padding: 5px 0 5px 15px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  background-color: transparent;
  color: white;
}

@media screen and (max-width: 480px){
  .hourly-weather {
    height: 370px;
  }
  
  .daily-weather{
    height: 370px;
  }
}